<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ if .Description }}
  <meta name="description" content="{{ .Description }}">{{ end }}
  {{ template "headerExtra" .Content}}
  <title>{{ .Title }}</title>

  <link rel="icon" type="image/svg+xml" href='{{ absLink "assets/logo.svg" }}'>
  <link rel="apple-touch-icon" href='{{ absLink "assets/logo-apple-touch-icon.png" }}'>

  <link rel="stylesheet" type="text/css" href='{{ absLink "assets/fonts/FiraCode/fira_code.css"}}' />
  <link rel="stylesheet" type="text/css" href='{{ absLink "assets/fonts/FiraGO/fira_go.css"}}' />
  <link rel="stylesheet" type="text/css" href='{{ absLink "assets/base.css"}}' />
  <!-- The media attribute is a clever trick to automatically switch code highlighting styles depending on the preferred color scheme: https://blog.jim-nielsen.com/2019/conditional-syntax-highlighting-in-dark-mode-with-css-imports/ -->
  <link rel="stylesheet" href='{{ absLink "assets/highlightjs/styles/github.min.css"}}'
    media="screen and (prefers-color-scheme: light)" />
  <link rel="stylesheet" href='{{ absLink "assets/highlightjs/styles/github-dark.min.css"}}'
    media="screen and (prefers-color-scheme: dark)" />
  <script src='{{ absLink "assets/highlightjs/highlight.min.js"}}'></script>
  <script defer>
    hljs.highlightAll();
  </script>
  <script type="text/javascript">new Image().src='https://nullitics.com/n.gif?u=' + encodeURI(location.href) + '&r=' + encodeURI(document.referrer) + '&d=' + screen.width;</script>
</head>

<body>
  <div class="wrapper">
    <div class="main">
      <main>
        {{ template "content" .Content }}
      </main>
    </div>
  </div>
</body>

</html>
